/**
 *
 * Globals
 * --------------------------------------------------------
 */
body {
  margin: 0;
  background-color: #111;
  color: #fff;
  font-family: monospace;
  font-size: 24px;
}

/**
 *
 * Containers
 * --------------------------------------------------------
 */
.L-Root {
  width: 100vw;
  height: 100vh;
}

.L-Editor {
  display: grid;
  grid-template-rows: calc(100vh - 180px) 100px 80px;
}
.L-Dropper {
  padding-top: 40vh;
  text-align: center;
  font-size: 2rem;
}

.L-Info {
  display: grid;
  grid-template-columns: 1fr 100px;
  align-items: center;
}

/**
 *
 * Components
 * --------------------------------------------------------
 */
.Popup {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, .8);
}
.Popup_Inner {
  background-color: #fff;
  width: 70vw;
  margin: 20vh auto;
  padding: 10px;
}

.Video {
  width: 100%;
  height: 100%;
  object-fit: contain;
  background-color: #111;
}

.Timeline {
  position: relative;
  overflow: hidden;
}
.Timeline_Scroller {
  height: 100%;
  overflow-x: auto;
  background-color: #3C3C3C;
}
.Timeline_Controls {
  position: absolute;
  right: 5px;
  top: 0;
  z-index: 1;
}

.Selector {
  position: relative;
  z-index: 0;
}
.Selector_Bar {
  background-color: rgba(255, 255, 255, .8);
  z-index: 2;
}
.Selector_Line {
  position: absolute;
  z-index: 3;
  height: 100%;
  background-color: #0094c8;
  pointer-events: none;
}
.Selector_Thumb {
  position: absolute;
  z-index: 1;
  height: 100%;
  width: 100%;
  display: flex;
  overflow: hidden;
  background-color: #000;
  pointer-events: none;
}

.SelectingInfo {
  width: 400px;
  margin: 0 auto;
  padding: 15px;
  text-align: center;
  background-color: #000;
}

.Progress_Col {
  display: grid;
  grid-template-columns: 100px 1fr 1fr;
}

.Icon {
  pointer-events: none;
}
.Icon.-s {
  height: 12px;
}
.Icon.-m {
  height: 24px;
}
.Icon.-l {
  height: 48px;
}
