/**
 *
 * Globals
 * --------------------------------------------------------
 */
body {
  margin: 0;
  background-color: #111;
  color: #fff;
  font-family: monospace;
  font-size: 24px;
}

h1, h2, h3, h4 {
  margin: 0;
}

a {
  color: #0094c8;
}

ul {
  list-style: none;
  padding-left: 5px;
  margin: 0;
}

select {
  height: 100%;
}

/**
 *
 * Containers
 * --------------------------------------------------------
 */
.L-Root {
  width: 100vw;
  height: 100vh;
}

.L-Editor {
  display: grid;
  grid-template-rows: calc(100vh - 180px) 100px 80px;
}
.L-Dropper {
  padding-top: 40vh;
  text-align: center;
  font-size: 2rem;
}

.L-Player {
  position: relative;
}
.L-Player_Controls {
  position: absolute;
  bottom: 0;
  right: 0;
}

.L-Info {
  display: grid;
  grid-template-columns: 1fr 120px;
  align-items: center;
}

/**
 *
 * Components
 * --------------------------------------------------------
 */
.Popup {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, .8);
}
.Popup_Inner {
  background-color: #111;
  width: 70vw;
  margin: 20vh auto;
  padding: 20px;
  border-radius: 4px;
}

.Video {
  width: 100%;
  height: 100%;
  object-fit: contain;
  background-color: #111;
}

.PlayerControls {
  display: flex;
  align-items: center;
  padding: 5px 10px;
  font-size: 12px;
}

.Timeline {
  position: relative;
  overflow: hidden;
  border: 5px solid #000;
  border-left: none;
  border-right: none;
}
.Timeline_Scroller {
  height: 100%;
  overflow-x: auto;
  background-color: #333;
}
.Timeline_Controls {
  position: absolute;
  right: 5px;
  top: 0;
  z-index: 1;
}

.Selector {
  position: relative;
  z-index: 0;
}
.Selector_Bar {
  background-color: rgba(255, 255, 255, .8);
  z-index: 2;
}
.Selector_Line {
  position: absolute;
  z-index: 3;
  height: 100%;
  background-color: #0094c8;
  pointer-events: none;
}
.Selector_Thumb {
  position: absolute;
  z-index: 1;
  height: 100%;
  width: 100%;
  display: flex;
  overflow: hidden;
  background-color: #000;
  pointer-events: none;
}

.SelectingInfo {
  width: 400px;
  margin: 0 auto;
  padding: 15px;
  text-align: center;
  background-color: #000;
}

.Progress {}
.Progress_Section {
  margin-bottom: 20px;
}
.Progress_Col {
  display: grid;
  grid-template-columns: 150px 1fr 1fr;
  grid-gap: 20px;
  font-size: 18px;
}
.Progress_Col > div > div {
  margin-bottom: 5px;
}
.Progress_Right {
  text-align: right;
}
.Progress_Center {
  text-align: center;
}
.Progress_Bold {
  font-weight: bold;
}

.MainHeading {
  text-align: center;
  margin-bottom: 15px;
}
.SubHeading {
  margin-bottom: 10px;
  border-bottom: 1px solid;
  text-indent: 5px;
}

.Settings {}
.Settings_Section {
  margin-bottom: 20px;
}
.Settings_Item {
  display: grid;
  grid-template-columns: 300px 1fr;
  margin-bottom: 10px;
}
.Settings_Right {
  text-align: right;
}
.Settings_Center {
  text-align: center;
}

.Icon {
  pointer-events: none;
}
.Icon.-s {
  height: 12px;
}
.Icon.-m {
  height: 24px;
}
.Icon.-l {
  height: 48px;
}
.Icon.-spin {
  animation: icon-spin 2s infinite linear;
}
@keyframes icon-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}
.IconButton {
  -webkit-appearance: none;
  border: none;
  background-color: #000;
  border-radius: 2px;
}
.IconButton.-s {
  padding: 2px 6px;
  margin: 0 2px;
}
.IconButton.-m {
  padding: 4px 12px;
  margin: 0 4px;
}
