body {
  margin: 0;
}

.L-Root {
  width: 100vw;
  height: 100vh;
}

.L-Editor {
  display: grid;
  grid-template-rows: calc(100vh - 150px) 90px 60px;
}
.L-Dropper {
  padding-top: 40vh;
  text-align: center;
  font-size: 2rem;
}

.Popup {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, .8);
}
.Popup_Inner {
  background-color: #fff;
  width: 70vw;
  margin: 20vh auto;
  padding: 10px;
}

.Video {
  width: 100%;
  height: 100%;
  object-fit: contain;
  background-color: #111;
}

.Timeline {
  position: relative;
  overflow: hidden;
}
.Timeline_Scroller {
  height: 100%;
  overflow-x: auto;
  background-color: #eee;
}
.Timeline_Controls {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}

.Selector {
  position: relative;
  background-color: #274a78;
}
.Selector_Bar {
  background-color: #0094c8;
}

.Progress_Col {
  display: grid;
  grid-template-columns: 100px 1fr 1fr;
}
