body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.P-Editor {
  display: grid;
  grid-template-rows: calc(100vh - 100px) 50px 50px;
}

.Video {
  width: 100%;
  height: 100%;
  object-fit: contain;
  background-color: #000;
}
